<div data-ng-controller="PublicationsController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">BOOK my FACE</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                        
                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/#!/publications">Publications</a>
                    </li>

                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/#!/users">Users</a>
                    </li>

                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/login">Login</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/register">Register</a>
                    </li>

                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/#!/users">Users</a>
                    </li>

                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/#!/publications/create">new publication</a>
                    </li>
                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="authentication.user.firstname" data-ng-show="authentication.user"></span>, Logout?</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section data-ng-init="find()">
        <div class="container">
            <h1>Notifications</h1>
            <ul>
                <li data-ng-repeat="publi in publinotifs">
                <div class="well" >
                    <h4>publication.title" ></h4>
                    (<small data-ng-bind="publi.created | date:'short' | by publi.author"></small>)
                    <br>
                </li>
                </div>
            </ul>          
        </div>
    </section>
</div>